* {
    font-family: sans-serif;
}

:root {
    --max-width: 900px;
    --box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
    --border-radius: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;
}

.container h1, .container p, .container h5 {
    text-align: center;
}

.container img {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container button {
    padding: 1rem;
    background-color: blueviolet;
    color: white;
    font-size: .8rem;
    border: none;
    margin-right: 1rem;
}

.container button:last-child {
    margin-right: 0;
}

.container .loader {
    display: none;
}